.hero{
height:80vh;
background:
linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
url("banner.jpg") center/cover no-repeat;

display:flex;
align-items:center;
}

.hero h1{
font-size:48px;
font-weight:bold;
}

.hero p{
font-size:18px;
max-width:600px;
margin:auto;
}